.payment_select {
    border: 1px solid red;
    background-color: #c70719;
    color: #fff;
    width: 30px;
    height: 70px;
    position: absolute;
    line-height: 52px;
    top: -19px;
    z-index: 5;
    left: -1px;
    transform: rotate(45deg) scaleX(-1);
    padding: 7px;
}

.rk{
    background-color: red;
}